body {
  margin: 0;
}

section {
  margin: 100vh 0;
  padding: 2em 0;
  background-color: #e2e2e2;
}

.dipper {
  display: block;
  width: 300px;
  margin: 0 auto;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-dipper-animate {
  opacity: 1;
  animation: dipper-jiggle 250ms linear;
}

@keyframes dipper-jiggle {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
